.player-list {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.6;
    transition: opacity $trans-duration;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &.active {
      opacity: 1;
      font-weight: 400;
    }
  }
  span {
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #fff;
  }
}
