.player-list {
  display: block;
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.6;
    transition: opacity $trans-duration;
    cursor: pointer;
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      opacity: 0.8;
    }
    &.active {
      opacity: 1;
      font-weight: 400;
    }
  }
  span {
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #fff;
  }
}

@media only screen and (max-width: $phone-width) {
  .player-list {
    display: none;
  }
}
